@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 10s linear infinite;
}

@keyframes fadeSlideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 0.5s forwards;
}

@keyframes fadeSlideRight {
  0% { 
    opacity: 0; 
    transform: translateX(-20px);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0); 
  }
}

.animate-fade-slide-right {
  animation: fadeSlideRight 0.5s forwards;
}
